@model PhotoManager.Domain.Entities.Photo


<div class="col-md-4">
    <div class="card mb-4 box-shadow">
        @*<img class="img-thumbnail" height: 225px; width: 100%; display: block; alt="Thumbnail [100%x225]"
            src="@Url.Action("GetImage", "Photo", new { Model.PhotoId })" />*@
        <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="@Url.Action("GetImage", "Photo", new { Model.PhotoId })" data-holder-rendered="true">
        <div class="card-body">
            <span class="lead">@Model.Name </span>
            <br />
            <span class="lead">@Model.Description</span>
            <div class="d-flex justify-content-between align-items-center">


                @using (Html.BeginForm("Delete", "Photo"))
                {
                    <div class="btn-group" role="group">
                        @Html.ActionLink("Edit", "Edit", new { @Model.PhotoId }, new { @class = "btn btn-outline-secondary" })
                        @Html.Hidden("PhotoId", @Model.PhotoId)
                        <button type="submit" class="btn btn-danger delete">Delete</button>
                    </div>
                }

                <strong>@Model.Category</strong>
            </div>
        </div>
    </div>
</div>




